@page "/"
@using WerewolfOnline.Model
@inject ProtectedSessionStorage ProtectedSessionStore
@inject DataService dataService
@inject NavigationManager NavigationManager

Welcome to your new app.
<div></div>
<button @onclick="Host">Host</button>

<hr>

<div>
    @foreach (var gm in gamesList) {
        <div>@gm.Name</div>
        <button @onclick="@(() => Join(gm.Id))">Join</button>
    }
</div>
<div hidden="@(gamesList.Count != 0)">
    No games to join!
</div>

@code {
    List<GameManager> gamesList;
    protected override async Task OnInitializedAsync() {
        gamesList = dataService.GameList;
        await base.OnInitializedAsync();
    }


    void Join(int i) {
        NavigationManager.NavigateTo("/playgame/" + i);
    }
    void Host() {
        NavigationManager.NavigateTo("/hostgame");
    }
}