@inject NavigationManager NavigationManager
@inherits RoleComponentBase

<h3>SeerComponent</h3>

<RoleComponent events="events" @ref="roleComponent" />
@code {

    protected override NavigationManager _NavigationManager { get => NavigationManager; }
    protected override RoleName _Role { get => RoleName.Seer; }
    protected override void SetRoleListeners() {

    }
}
